a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.header-menu > ul {
  display: flex;
  align-items: center;
  max-width: 60%;
  font-size: 20px;
}
.header-menu {
  position: fixed;
  width: 100%;
  z-index: 2000;
  height: 50px;
}
.header-menu,
.header-menu ul {
  background: rgb(150, 210, 250);
}
.active {
  background: rgb(240, 177, 6);
}
.header-menu > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(83, 181, 247);
  height: 100%;
  width: 100px;
  padding: 10px;
}
.header-menu > ul > li:hover {
  box-shadow: 1px 1px 15px rgb(243, 245, 247);
  background: rgb(34, 35, 36);
  color: rgb(83, 181, 247);
  transition: all ease 0.5s;
}
